body,
html,
#root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.check-view {
  .photo-frame {
    position: relative;
    overflow: hidden; // Ensure the parent container does not allow overflow

    .result-canvas {
      width: 100%;
      height: auto; // Ensure it scales correctly
      display: block; // Ensure the canvas acts like a block element
      overflow: hidden; // Hide overflow content
      border-radius: 8px; // Optional: add some styling
    }
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .retake-button, .next-button {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      text-decoration: none;

      img {
        margin-right: 8px;
      }

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}